*~
*.o
*.a
*.d
*.lo
*.loT
*.la
*.so
*.lai
.libs
.depends
*.log
*.substvars
*-stamp
*.swp
*.cache
*.dist
*.dylib
*.rej
*.orig
*.dSYM
*.patch
.pc
config.status
*confdefs.h
*conftest*
*confcache
Make.inc
libtool
src/include/autoconf.h
src/include/build-radpaths-h
src/include/radpaths.h
src/include/stamp-h
autom4te.cache
config.guess
config.sub
debian/*
src/main/radattr
src/modules/lib/
