td {font-family:verdana,sans-serif;text-decoration:none;font-size:11px}
th {font-family:verdana,sans-serif;text-decoration:none;font-size:11px}
A {FONT-FAMILY: verdana,sans-serif; FONT-SIZE: 11px; TEXT-DECORATION: none}
H1 {FONT-FAMILY: lucida,sans-serif; FONT-SIZE: 24px; TEXT-DECORATION: none}
INPUT{
	BACKGROUND-COLOR: #FFFFFF;
	BORDER-BOTTOM: #3333CC 1px solid;
	BORDER-LEFT: #3333CC 1px solid;
	BORDER-RIGHT: #3333CC 1px solid;
	BORDER-TOP: #3333CC 1px solid;
	COLOR: #000000;
	FONT-FAMILY: Verdana
}
INPUT.button{
	BACKGROUND-COLOR: #999999;
	BORDER-BOTTOM: #3333CC 1px solid;
	BORDER-LEFT: #3333CC 1px solid;
	BORDER-RIGHT: #3333CC 1px solid;
	BORDER-TOP: #3333CC 1px solid;
	COLOR: #000000;
	FONT-FAMILY: Verdana
}
body
{
	scrollbar-track-color:#b0bd90;
	scrollbar-arrow-color:#000000;
	scrollbar-face-color:#d0ddb0;
	scrollbar-shadow-color:#909d70;
	scrollbar-highlight-color:#fffff0;
	scrollbar-3dlight-color:#000000;
	scrollbar-darkshadow-color:#000000;
	bgcolor:#80a040;
	background-image: url(images/greenlines1.gif);
}
a:link {
	color: #000000;
}
a:visited {
	color:#000000;
}
a:hover {
	color:#000000;
}
a:active {
	color:#000000;
}
