# ---------------------------------------------------------------
# Docker Compose Test Environment:
#
#   A single server instance for profiling
#
# ---------------------------------------------------------------
x-common-config: &id001
  cap_add:
  - NET_ADMIN
  - SYS_PTRACE
  environment:
    TEST_PROJECT_NAME: ${COMPOSE_PROJECT_NAME}
    TEST_SUBNET: {{ test_subnet | default('172.16.0.0/12') }}
services:
  profiling-server:
    image: freeradius-prof:latest
    volumes:
    # profiling-server server config
    - ${DATA_PATH}/freeradius/profiling-server/radiusd.conf:/etc/freeradius/radiusd.conf
    # proto_load packet configuration and statistics output
    - ${DATA_PATH}/freeradius/profiling-server/proto_load_config.env:/etc/freeradius/proto_load_config.env
    - ${DATA_PATH}/freeradius/profiling-server/load-generator-packets/:/etc/freeradius/load-generator-packets/
    - ${DATA_PATH}/freeradius/profiling-server/stats/load-generator-stats.csv:/etc/freeradius/stats/load-generator-stats.csv
    # Profiling scripts
    - ${DATA_PATH}/start_valgrind_profiling.sh:/etc/freeradius/start_valgrind_profiling.sh
    # Profiling results directory
    - ${PROF_RESULTS_PATH}/:/etc/prof-results/
    # Listener directory
    - ${LISTENER_DIR}/:/var/run/multi-server/
    entrypoint:
    - bash
    - -lc
    - |
      # Keep the container alive.  The test framework starts FreeRADIUS
      # and runs commands via 'docker exec' so it can control timing.
      #
      # Start the server after configuring environment variables from test case's template.yml.j2 file.
      sleep infinity
    <<: *id001
