timeout: {{ test_timeout }}
state_order: sequence
states:
  state_1:
    description: >
      Baseline load-generator test for load-generator ->
      {{ compose_num_of_home_servers }} home servers. Home servers auto-accept requests.
    host:
      load-generator:
        actions:
        - execute_command:
            command: |
              #
              # proto_load configuration via environment variables
              #

              export TEST_CONF_START_PPS={{ test_conf_start_pps }}
              export TEST_CONF_MAX_PPS={{ test_conf_max_pps }}
              # Duration must be equal or greater than max pps for proto_load to calculate "pps_accepted" effectively
              export TEST_CONF_DURATION={{ test_conf_duration }}
              export TEST_CONF_STEP={{ test_conf_step }}
              export TEST_CONF_PARALLEL={{ test_conf_parallel }}
              export TEST_CONF_MAX_BACKLOG={{ test_conf_max_backlog }}
              export TEST_CONF_REPEAT="{{ test_conf_repeat }}"

              TEST_CONF_NUM_MESSAGES=0
              for ((pps=$TEST_CONF_START_PPS; pps<=$TEST_CONF_MAX_PPS; pps+=$TEST_CONF_STEP)); do
                TEST_CONF_NUM_MESSAGES=$((TEST_CONF_NUM_MESSAGES + TEST_CONF_DURATION * pps))
              done
              export TEST_CONF_NUM_MESSAGES

              #
              # Delay to allow the rest of the environment to startup before starting load generation.
              #
              sleep 20

              #
              # Starting load-generator server which will generate traffic based on env configuration
              # from above.
              #
              printf "Starting load-generator with the following configuration:\n"
              printf "  Start PPS:        %s\n" "$TEST_CONF_START_PPS"
              printf "  Max PPS:          %s\n" "$TEST_CONF_MAX_PPS"
              printf "  Duration (secs):  %s\n" "$TEST_CONF_DURATION"
              printf "  Step PPS:         %s\n" "$TEST_CONF_STEP"
              printf "  Parallel:         %s\n" "$TEST_CONF_PARALLEL"
              printf "  Max Backlog:      %s\n" "$TEST_CONF_MAX_BACKLOG"
              printf "  Num Messages:     %s\n" "$TEST_CONF_NUM_MESSAGES"

              freeradius &

              tail -f /dev/null

            detach: true
    verify:
      timeout: {{ test_verify_timeout }}
      trigger_mode: unordered
  state_2:
    description: Check load-generator Status-Server stats
    host:
      load-generator:
        actions:
        - execute_command:
            command: |
              # This command will query the load-generator's built-in Status-Server for statistics. Port 1820 configured to be used for Status-Server.
              printf 'User-Name := "testuser"\nUser-Password := "testpass"' | /usr/bin/radclient -x localhost:1820 status testing123
    verify:
      timeout: 5
      trigger_mode: unordered
      triggers:
      - load-generator-status-server:
          json:
            Status-Server-Result:
              pattern:
                reg_pattern: PASS
            Access-Request-Counter:
              pattern:
                reg_pattern: (\d+)
            Access-Accept-Counter:
              pattern:
                reg_pattern: (\d+)
