couchbase {
    #
    # List of Couchbase hosts semi-colon separated.  Ports are optional if servers
    # are listening on the standard port.  Complete pool urls are preferred.
    #
    server = "http://cb01.blargs.com:8091/pools/;http://cb04.blargs.com:8091/pools/"

    # Couchbase bucket name
    bucket = "radius"

    # Couchbase bucket password
    #pass = "password"

    # Couchbase accounting document key (unlang supported)
    acctkey = "radacct_%{%{Acct-Unique-Session-Id}:-%{Acct-Session-Id}}"

    # Value for the 'docType' element in the json body for accounting documents
    doctype = "radacct"

    ## Accounting document expire time in seconds (0 = never)
    expire = 2592000

    #
    # Map attribute names to json element names for accounting.
    #
    # Configuration items are in the format:
    # <radius attribute> = <element name>
    #
    # JSON element names should be single quoted.
    #
    # Note: Atrributes not in this map will not be recorded.
    #
    map {
        Acct-Session-Id = 'sessionId'
        Acct-Unique-Session-Id = 'uniqueId'
        Acct-Status-Type = 'lastStatus'
        Acct-Authentic = 'authentic'
        User-Name = 'userName'
        Stripped-User-Name = 'strippedUserName'
        Stripped-User-Domain = 'strippedUserDomain'
        Realm = 'realm'
        NAS-IP-Address = 'nasIpAddress'
        NAS-Identifier = 'nasIdentifier'
        NAS-Port = 'nasPort'
        Called-Station-Id = 'calledStationId'
        Called-Station-SSID = 'calledStationSSID'
        Calling-Station-Id = 'callingStationId'
        Framed-IP-Address = 'framedIpAddress'
        NAS-Port-Type = 'nasPortType'
        Connect-Info = 'connectInfo'
        Acct-Session-Time = 'sessionTime'
        Acct-Input-Packets = 'inputPackets'
        Acct-Output-Packets = 'outputPackets'
        Acct-Input-Octets = 'inputOctets'
        Acct-Output-Octets = 'outputOctets'
        Acct-Input-Gigawords = 'inputGigawords'
        Acct-Output-Gigawords = 'outputGigawords'
        Event-Timestamp = 'lastUpdated'
    }

    # Couchbase document key for user documents (unlang supported)
    userkey = "raduser_%{md5:%{tolower:%{User-Name}}}"

    #
    #  The connection pool is new for 3.0, and will be used in many
    #  modules, for all kinds of connection-related activity.
    #
    pool {
        # Number of connections to start
        start = 5

        # Minimum number of connections to keep open
        min = 5

        # Maximum number of connections
        #
        # If these connections are all in use and a new one
        # is requested, the request will NOT get a connection.
        #
        # NOTE: This should be greater than or equal to "min" above.
        max = 20

        # Spare connections to be left idle
        #
        # NOTE: Idle connections WILL be closed if "idle_timeout"
        # is set.  This should be less than or equal to "max" above.
        spare = 15

        # Number of uses before the connection is closed
        #
        # NOTE: A setting of 0 means infinite (no limit).
        uses = 0

        # The lifetime (in seconds) of the connection
        #
        # NOTE: A setting of 0 means infinite (no limit).
        lifetime = 0

        # The idle timeout (in seconds).  A connection which is
        # unused for this length of time will be closed.
        #
        # NOTE: A setting of 0 means infinite (no timeout).
        idle_timeout = 1200

        # NOTE: All configuration settings are enforced.  If a
        # connection is closed because of "idle_timeout",
        # "uses", or "lifetime", then the total number of
        # connections MAY fall below "min".  When that
        # happens, it will open a new connection.  It will
        # also log a WARNING message.
        #
        # The solution is to either lower the "min" connections,
        # or increase lifetime/idle_timeout.
    }
}
