#
#  If you want the server to pretend that it is dead,
#  then use the "do_not_respond" policy.
#
do_not_respond {
	update reply {
		&Packet-Type := Do-Not-Respond
	}
	handled
}

#
#  Send Access-Accept immediately
#
accept {
	update reply {
		&Packet-Type := Access-Accept
	}
	handled
}

#
#  Send Access-Challenge immediately
#
challenge {
	update reply {
		&Packet-Type := Access-Challenge
	}
	handled
}

#
#  Send an Accounting-Response immediately
#
acct_response {
	update reply {
		&Packet-Type := Accounting-Response
	}
	handled
}

#
#  Send a Protocol-Error in response to a packet.
#
#  Note that because Protocol-Error is a generic NAK, it has to
#  include the original packet code in the reply.
#
protocol_error {
	update reply {
		&Packet-Type := Accounting-Response
		&Original-Packet-Code := "%{Packet-Type}"
	}
	handled
}

#
#  Discard the packet without replying
#
discard {
	update reply {
		&Packet-Type := Do-Not-Respond
	}
	handled
}
