Source: freeradius
Section: net
Priority: standard
Maintainer: Chad Miller <cmiller@surfsouth.com>
Standards-Version: 3.2.1

Package: freeradius
Architecture: any
Depends: ${shlibs:Depends}
Provides: radiusd
Conflicts: radiusd, radiusd-livingston, radiusd-cistron
Description: A high-performance and highly configurable RADIUS server
 A high-performance and highly configurable RADIUS server.  freeradius is 
 similar to Livingston's 2.0 server, but has support for...
  - many vendor-specific attributes
  - proxying and replicating requests by any criteria
  - authentication on system passwd, MySQL, LDAP, users, PAM
  - multiple DEFAULT configurations
  - regexp matching in string attributes
 and lots more.
