name        = homeserver

raddbdir    = /etc/freeradius
confdir     = ${raddbdir}
modconfdir  = ${confdir}/mods-config
logdir      = /var/log/freeradius
radacctdir  = ${logdir}/radacct

security {
        allow_core_dumps = yes
}

trigger {

	server {
		start = "%linelog('server_start homeserver starting')"

		stop = "%linelog('server_stop homeserver stopping')"

		max_requests = "%linelog('server_max_requests homeserver max requests reached')"
	}

}

# logging configuration required for linelog module
log {
	destination = files
	file = ${logdir}/radius.log
	syslog_facility = daemon
	stripped_names = no
	auth = yes
	auth_badpass = yes
	auth_goodpass = yes
}

modules {
	# Common linelog module configuration
	{% include "freeradius/common/mods-available/linelog" %}

	# Test framework linelog module configuration based on OS environment
	{% if listener_type == "unix" %}
        {% include "freeradius/common/mods-available/linelog_socket" %}
	{% elif listener_type == "file" %}
        {% include "freeradius/common/mods-available/linelog_file" %}
	{% endif %}

	# Common json module configuration
	{% include "freeradius/common/mods-available/json" %}

	# Common always module configuration
	{% include "freeradius/common/mods-available/always" %}

	# Common attr_filter module configuration
	{% include "freeradius/common/mods-available/attr_filter" %}

	# Common files module configuration
	{% include "freeradius/common/mods-available/files" %}

	# Common detail module configuration
	{% include "freeradius/common/mods-available/detail" %}
}

policy {
	# Common control policy configuration
	{% include "freeradius/common/policy.d/control" %}
}

server hs-auto-accept {

	namespace = radius

	listen authentication {
		type = Access-Request
		type = Status-Server
		transport = udp
		require_message_authenticator = auto
		limit_proxy_state = auto
		limit {
			max_clients = 256
			max_connections = 256
			idle_timeout = 60.0
			dynamic_timeout = 600.0
			nak_lifetime = 30.0
			cleanup_delay = 5.0
		}
		udp {
			ipaddr = *
			port = 1812
			networks {
				allow = 127/8
				allow = 192.0.2/24
			}
		}
		tcp {
			ipaddr = *
			port = 1812
			networks {
				allow = 127/8
				allow = 192.0.2/24
			}
		}
	}

	listen authentication {
		type = Access-Request
		type = Status-Server
		transport = tcp
		tcp {
			ipaddr = *
			port = 1812
			networks {
				allow = 127/8
				allow = 192.0.2/24
			}
		}
	}

	listen accounting {
		type = Accounting-Request
		transport = udp
		udp {
			ipaddr = *
			port = 1813
		}
	}

	client localhost {
		ipaddr = 127.0.0.1
		secret = testing123
	}

	client upstream-proxy {
		ipaddr = $ENV{TEST_SUBNET}
		secret = testing123
		require_message_authenticator = auto
		limit_proxy_state = auto
	}

	recv Access-Request {
		string Log-Timestamp
		string Log-Label
		string Log-Message
		string Log-Homeserver-IP-Port
		string Log-Request-Source-IP-Port

		# Initialization
		Log-Timestamp := "%Y-%m-%d-%H:%G:%e"
		Log-Label := "INFO"
		Log-Message := "Access-Request received"
		Log-Homeserver-IP-Port := "%{Net.Dst.IP}:%{Net.Dst.Port}"
		Log-Request-Source-IP-Port := "%{Net.Src.IP}:%{Net.Src.Port}"

		{% raw %}
		%linelog("homeserver-access-request {\"Log-Timestamp\": %{Log-Timestamp}, \"Log-Label\": %{Log-Label}, \"Log-Message\": %{Log-Message}, \"Log-Homeserver-IP-Port\": %{Log-Homeserver-IP-Port}, \"Log-Request-Source-IP-Port\": %{Log-Request-Source-IP-Port}}, \"User-Name\": \"%{%{User-Name}}\", \"Calling-Station-Id\": \"%{Calling-Station-Id}\"")

		{% endraw %}
		accept
	}

	send Access-Accept {
		string Log-Timestamp
		string Log-Label
		string Log-Message
		string Log-Homeserver-IP-Port
		string Log-Request-Source-IP-Port

		# Initialization
		Log-Timestamp := "%Y-%m-%d-%H:%G:%e"
		Log-Label := "INFO"
		Log-Message := "Access-Accept sent"
		Log-Homeserver-IP-Port := "%{Net.Dst.IP}:%{Net.Dst.Port}"
		Log-Request-Source-IP-Port := "%{Net.Src.IP}:%{Net.Src.Port}"

		{% raw %}
	    	%linelog("homeserver-access-accept {\"Log-Timestamp\": %{Log-Timestamp}, \"Log-Label\": %{Log-Label}, \"Log-Message\": %{Log-Message}, \"Log-Homeserver-IP-Port\": %{Log-Homeserver-IP-Port}, \"Log-Request-Source-IP-Port\": %{Log-Request-Source-IP-Port}}")
		{% endraw %}

		handled
	}

	recv Status-Server {
		ok
	}

	send Access-Challenge {
		attr_filter.access_challenge
	}

	send Access-Reject {
		string Log-Timestamp
		string Log-Label
		string Log-Message
		string Log-Homeserver-IP-Port
		string Log-Request-Source-IP-Port

		# Initialization
		Log-Timestamp := "%Y-%m-%d-%H:%G:%e"
		Log-Label := "ERROR"
		Log-Message := "Access-Reject sent"
		Log-Homeserver-IP-Port := "%{Net.Dst.IP}:%{Net.Dst.Port}"
		Log-Request-Source-IP-Port := "%{Net.Src.IP}:%{Net.Src.Port}"

		{% raw %}
		%linelog_test_framework("homeserver-access-reject {\"Log-Timestamp\": %{Log-Timestamp}, \"Log-Label\": %{Log-Label}, \"Log-Message\": %{Log-Message}, \"Log-Homeserver-IP-Port\": %{Log-Homeserver-IP-Port}, \"Log-Request-Source-IP-Port\": %{Log-Request-Source-IP-Port}}")
		{% endraw %}

		attr_filter.access_reject
	}

	recv Accounting-Request {
		files_accounting
	}

	accounting Start {
	}

	accounting Stop {
	}

	accounting Interim-Update {
	}

	accounting Accounting-On {
	}

	accounting Accounting-Off {
	}

	accounting Failed {
	}

	send Accounting-Response {
		detail
		attr_filter.accounting_response
	}
}
