name       = profiling-server

raddbdir   = /etc/freeradius
confdir    = ${raddbdir}
modconfdir = ${confdir}/mods-config
logdir     = /var/log/freeradius
radacctdir = ${logdir}/radacct

security {
	allow_core_dumps = yes
}

modules {

	# Common ldap module configuration
	{% include "freeradius/common/mods-available/ldap" %}

	# Using default pap module configuration
	$include ${confdir}/mods-available/pap

	# Common always module configuration, required for the control policy
	{% include "freeradius/common/mods-available/always" %}

}

policy {

	# Common control policy configuration, needed for accept action
	{% include "freeradius/common/policy.d/control" %}

}

server profiling-server {

	namespace = radius

	# proto_load listen config
	{% set packet_conf_path = '/etc/freeradius/common/packet.conf' %}
	{% include "freeradius/common/listen/load" %}

	listen authentication {
		type = Access-Request
		transport = udp
		require_message_authenticator = auto
		limit_proxy_state = auto

		limit {
			max_clients = 256
			max_connections = 256
			idle_timeout = 60.0
			dynamic_timeout = 600.0
			nak_lifetime = 30.0
			cleanup_delay = 5.0
		}

		udp {
			ipaddr = *
			port = 1812
			networks {
				allow = 127/8
				allow = 192.0.2/24
			}
		}

		tcp {
			ipaddr = *
			port = 1812
			networks {
				allow = 127/8
				allow = 192.0.2/24
			}
		}
	}

	listen authentication {
		type = Access-Request
		transport = tcp

		tcp {
			ipaddr = *
			port = 1812
			networks {
				allow = 127/8
				allow = 192.0.2/24
			}
		}
	}

	client localhost {
		shortname = client-localhost
		ipaddr = *
		secret = testing123
	}

	recv Access-Request {
		ldap
		# pap module always listed last
		pap
	}

	authenticate pap {
		pap
	}

}
