# Autoconf headers
autoconf.h
autoconf.sed

# Dynamically generated headers
attributes.h
features.h
freeradius.h
freeradius.snmp.h
missing.h
radpaths.h
eap.sim.h
eap.aka.h
tacacs.h
rfc*.h
tls.h
vqp.h

# Build scripts
build-radpaths-h
stamp-h

# Subdirectories - add exceptions if you need them
**
