# Autoconf headers
autoconf.h
autoconf.sed

# Dynamically generated headers
features.h
missing.h
radpaths.h
tls.h
protocol/*

# Symlinks
util

# Build scripts
build-radpaths-h
stamp-h

# Subdirectories - add exceptions if you need them
**
