timeout: {{ test_timeout }}
state_order: sequence
states:
  state_1:
    description: >
      Baseline load-generator test for load-generator ->
      {{ compose_num_of_home_servers }} home servers. Home servers auto-accept requests.
    host:
      load-generator:
        actions:
        - execute_command:
            command: |
              #
              # proto_load configuration via environment variables
              #
              {% for key, value in loadgen.items() %}
              export TEST_LOADGEN_{{ key | upper }}="{{ value }}"
              {% endfor %}

              TEST_LOADGEN_NUM_MESSAGES=0
              for ((pps=$TEST_LOADGEN_START_PPS; pps<=$TEST_LOADGEN_MAX_PPS; pps+=$TEST_LOADGEN_STEP)); do
                TEST_LOADGEN_NUM_MESSAGES=$((TEST_LOADGEN_NUM_MESSAGES + TEST_LOADGEN_DURATION * pps))
              done
              export TEST_LOADGEN_NUM_MESSAGES

              #
              # Starting load-generator server which will generate traffic based on env configuration
              # from above.
              #
              printf "Starting load-generator with the following configuration:\n"
              {% for key, value in loadgen.items() %}
              printf "  {{ key | upper }}:%s\n" "$TEST_LOADGEN_{{ key | upper }}"
              {% endfor %}
              printf "  NUM_MESSAGES:     %s\n" "$TEST_LOADGEN_NUM_MESSAGES"

              exec freeradius -f -l stdout

            detach: true
    verify:
      timeout: {{ test_verify_timeout }}
      trigger_mode: unordered
  state_2:
    description: Check load-generator Status-Server stats
    host:
      load-generator:
        actions:
        - execute_command:
            command: |
              # This command will query the load-generator's built-in Status-Server for statistics. Port 1820 configured to be used for Status-Server.
              printf 'User-Name := "testuser"\nUser-Password := "testpass"' | /usr/bin/radclient -x localhost:1820 status testing123
    verify:
      timeout: 5
      trigger_mode: unordered
      triggers:
      - load-generator-status-server:
          json:
            Status-Server-Result:
              pattern:
                reg_pattern: PASS
            Access-Request-Counter:
              pattern:
                reg_pattern: (\d+)
            Access-Accept-Counter:
              pattern:
                reg_pattern: (\d+)
