name: Multi-Server CI Tests

on:
  push:
    branches: [ "loadgen-5hs-tests" ]

  pull_request:
    branches: [ "loadgen-5hs-tests" ]
    paths:
      - '.github/workflows/ci-multi-server-tests.yml'
      - 'src/tests/multi-server/**'
  workflow_dispatch:

jobs:
  test-5hs-autoaccept:
    runs-on: ubuntu-22.04
    steps:
      # Checkout, but defer pulling LFS objects until we've restored the cache
      - uses: actions/checkout@v4
        with:
          lfs: false

      - name: Remove package conflicts
        run: |
          sudo apt-get remove -y libhashkit2

      - name: Install build dependencies
        run: |
          sudo apt-get install -y --no-install-recommends build-essential devscripts equivs quilt
          debian/rules debian/control
          sudo mk-build-deps -irt"apt-get -y --no-install-recommends" debian/control
          sudo mk-build-deps -irt"apt-get -y --no-install-recommends" scripts/ci/extra-packages.debian.control

      - name: Build Docker image for multi-server test environment
        run: |
          ./configure
          make docker.ubuntu22.build

      - name: Run test-5hs-autoaccept test
        run: |
          make -f src/tests/multi-server/all.mk test-5hs-autoaccept
