name: CI

on:
  push:
    branches-ignore: 
      - coverity_scan
  pull_request:

env:
  ASAN_OPTIONS: symbolize=1 detect_leaks=1 detect_stack_use_after_return=1
  LSAN_OPTIONS: fast_unwind_on_malloc=0:malloc_context_size=50
  KQUEUE_DEBUG: yes
  M_PERTURB: "0x42"
  PANIC_ACTION: "gdb -batch -x raddb/panic.gdb %e %p 1>&0 2>&0"
  SMTP_TEST_SERVER: 127.0.0.1
  IMAP_TEST_SERVER: 127.0.0.1
  SQL_MYSQL_TEST_SERVER: 127.0.0.1
  SQL_POSTGRESQL_TEST_SERVER: 127.0.0.1
  LDAP_TEST_SERVER: 127.0.0.1
  LDAP_TEST_SERVER_PORT: 3890
#  REDIS_TEST_SERVER: 127.0.0.1
#  REDIS_IPPOOL_TEST_SERVER: 127.0.0.1
  ANALYZE_C_DUMP: 1
  FR_GLOBAL_POOL: 4M
  CI: 1
  GH_ACTIONS: 1

jobs:
  ci:

    services:
      mysql:
        image: mysql
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

      postgres:
        image: postgres
        env:
          POSTGRES_HOST_AUTH_METHOD: trust
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-18.04
#          - ubuntu-20.04
        env:
          - { CC: gcc, TEST_CERTS: yes, DO_BUILD: yes, LIBS_OPTIONAL: no,  LIBS_SHARED: yes, BUILD_CFLAGS: "-DWITH_EVAL_DEBUG" }
          - { CC: gcc, TEST_CERTS: yes, DO_BUILD: yes, LIBS_OPTIONAL: yes, LIBS_SHARED: yes, BUILD_CFLAGS: "-DWITH_EVAL_DEBUG" }
          - { CC: gcc, TEST_CERTS: yes, DO_BUILD: yes, LIBS_OPTIONAL: yes, LIBS_SHARED: yes, BUILD_CFLAGS: "-DWITH_EVAL_DEBUG -O2 -g3" }
          - { CC: gcc, TEST_CERTS: yes, DO_BUILD: yes, LIBS_OPTIONAL: yes, LIBS_SHARED: yes, BUILD_CFLAGS: "-DNDEBUG" }
          - { CC: clang, TEST_CERTS: yes, DO_BUILD: yes, LIBS_OPTIONAL: no,  LIBS_SHARED: yes, BUILD_CFLAGS: "-DWITH_EVAL_DEBUG" }
          - { CC: clang, TEST_CERTS: yes, DO_BUILD: yes, LIBS_OPTIONAL: yes, LIBS_SHARED: yes, BUILD_CFLAGS: "-DWITH_EVAL_DEBUG" }
          - { CC: clang, TEST_CERTS: yes, DO_BUILD: yes, LIBS_OPTIONAL: yes, LIBS_SHARED: yes, BUILD_CFLAGS: "-DWITH_EVAL_DEBUG -O2 -g3" }
          - { CC: clang, TEST_CERTS: yes, DO_BUILD: yes, LIBS_OPTIONAL: yes, LIBS_SHARED: yes, BUILD_CFLAGS: "-DNDEBUG" }

    env: ${{ matrix.env }}

    name: "${{ matrix.os}} ${{ matrix.env.CC }} ${{ toJson(matrix.env) }}"

    steps:

    - uses: actions/checkout@v2
      with:
        lfs: true

    - name: Checkout LFS objects
      run: git lfs checkout

    - uses: actions/setup-ruby@v1

    - name: Configure LLVM 10 repositories for 18.04
      if: ${{ matrix.os == 'ubuntu-18.04' }}
      run: |
        wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add
        sudo apt-add-repository "deb http://apt.llvm.org/bionic/ llvm-toolchain-bionic-10 main"
        sudo apt-get update

    - name: Configure LLVM 10 repositories for 20.04
      if: ${{ matrix.os == 'ubuntu-20.04' }}
      run: |
        wget -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add
        sudo apt-add-repository "deb http://apt.llvm.org/focal/ llvm-toolchain-focal-10 main"
        sudo apt-get update

    - name: Install fixture (redis)
      run: |
        sudo apt-get install -y --no-install-recommends redis-server redis-tools
        sudo systemctl start redis-server

    - name: Install fixture (openldap)
      run: |
        sudo apt-get install -y --no-install-recommends slapd ldap-utils apparmor-utils
        sudo systemctl stop slapd
        sudo aa-complain /usr/sbin/slapd

    - name: Install fixture (dovecot imapd)
      run: |
        sudo apt-get install -y --no-install-recommends dovecot-imapd
        sudo systemctl stop dovecot
        sudo aa-complain /usr/sbin/dovecot

    - name: Install fixture (exim)
      run: |
        sudo apt-get install -y --no-install-recommends exim4
        sudo systemctl stop exim4

    - name: Install cassandra driver (not yet available on 20.04)
      if: ${{ matrix.os != 'ubuntu-20.04' }}
      run: sudo ./scripts/ci/cassandra-install.sh

    - name: Install common build dependencies
      run: |
        sudo apt-get install -y --no-install-recommends \
        autoconf \
        build-essential \
        debhelper \
        devscripts \
        dh-make \
        dovecot-dev \
        fakeroot \
        firebird-dev \
        freetds-dev \
        ldap-utils \
        libcap-dev \
        libcollectdclient-dev \
        libcurl4-openssl-dev \
        libgdbm-dev \
        libgoogle-perftools-dev \
        libhiredis-dev \
        libidn11-dev \
        libiodbc2 \
        libiodbc2-dev \
        libjson-c-dev \
        libjson-perl \
        libkqueue-dev \
        libkrb5-dev \
        libldap2-dev \
        libluajit-5.1-dev \
        libmemcached-dev \
        libmysqlclient-dev \
        libnl-genl-3-dev \
        libpam0g-dev \
        libpcap-dev \
        libpcre3-dev \
        libperl-dev \
        libpq-dev \
        libpython-all-dev \
        libreadline-dev \
        libsnmp-dev \
        libssl-dev \
        libtalloc-dev \
        libunbound-dev \
        libwbclient-dev \
        libykclient-dev \
        libyubikey-dev \
        lintian \
        luajit \
        openssl \
        pbuilder \
        python-dev \
        python3-pip \
        quilt
      
    - name: Install JSON build deps for 18.04
      if: ${{ matrix.os == 'ubuntu-18.04' }}
      run: sudo apt-get install -y --no-install-recommends libjson-c3

    - name: Install JSON build deps for 20.04
      if: ${{ matrix.os == 'ubuntu-20.04' }}
      run: sudo apt-get install -y --no-install-recommends libjson-c4
      
    - name: Install tacacs_plus
      run: |
        pip3 install tacacs_plus
        
    - name: Setup compiler toolchain for 18.04
      if: ${{ matrix.os == 'ubuntu-18.04' }}
      run: |
        sudo apt-get install -y --no-install-recommends gcc-10 gccgo-10 gdb clang-10 llvm-10
        if [ "${CC}" == 'gcc' ]; then sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-10 60 && sudo update-alternatives --set gcc /usr/bin/gcc-10; fi
        if [ "${CC}" == 'clang' ]; then sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-10 60 && sudo update-alternatives --set clang /usr/bin/clang-10; fi
        if [ "${CC}" == 'clang' ]; then sudo update-alternatives --install /usr/bin/llvm-symbolizer llvm-symbolizer /usr/bin/llvm-symbolizer-10 60 && sudo update-alternatives --set llvm-symbolizer /usr/bin/llvm-symbolizer-10; fi

    - name: Setup compiler toolchain for 20.04
      if: ${{ matrix.os == 'ubuntu-20.04' }}
      run: |
        sudo apt-get install -y --no-install-recommends gcc-10 gccgo-10 gdb clang-10 llvm-10
        if [ "${CC}" == 'gcc' ]; then sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-10 60 && sudo update-alternatives --set gcc /usr/bin/gcc-10; fi
        if [ "${CC}" == 'clang' ]; then sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-10 60 && sudo update-alternatives --set clang /usr/bin/clang-10; fi
        if [ "${CC}" == 'clang' ]; then sudo update-alternatives --install /usr/bin/llvm-symbolizer llvm-symbolizer /usr/bin/llvm-symbolizer-10 60 && sudo update-alternatives --set llvm-symbolizer /usr/bin/llvm-symbolizer-10; fi

    - name: Show versions
      run: |
        $CC --version
        make --version

    - name: Build
      run: |
        export PATH=$(echo "$PATH" | sed -e 's#:/home/linuxbrew/[^:]\+##g')
        ./scripts/ci/build.sh
        mysql -h "${SQL_MYSQL_TEST_SERVER}" -u root -e "CREATE USER radius@'%' IDENTIFIED BY 'radpass'"
        mysql -h "${SQL_MYSQL_TEST_SERVER}" -u root -e "GRANT ALL on radius.* TO radius@'%'"

    - name: Test
      run: make ci-test
